In [55]:
# import lib
import pandas as pd

# read csv
data = pd.read_csv("tips-1.csv")
print(data)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [61]:
# print top 5 rows
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [63]:
# last 5
data.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [67]:
# check rows and colns 
data.shape # (244, 7)

(244, 7)

In [69]:
# count / mean / std / etc....
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [75]:
# The iterrows() method generates an iterator object of the DataFrame, allowing us to iterate each row in the DataFrame.
# if you want to know single person data we can use iterrows.
for i in data.iterrows():
    print(i)

(0, total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object)
(1, total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 1, dtype: object)
(2, total_bill     21.01
tip              3.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 2, dtype: object)
(3, total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object)
(4, total_bill     24.59
tip             3.61
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 4, dtype: object)
(5, total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object)
(6, total_bill      8.77
tip              2.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 6, dtype: object)
(7, total_bill     26.88
tip             3.12
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 7, dtype: object)
(8, total_bill     15.04
tip             1.96
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 8, dtype: object)
(9, total_bill     14.78
tip             3.23
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 9, dtype: object)
(10, total_bill     10.27
tip             1.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 10, dtype: object)
(11, total_bill     35.26
tip              5.0
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 11, dtype: object)
(12, total_bill     15.42
tip             1.57
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 12, dtype: object)
(13, total_bill     18.43
tip              3.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 13, dtype: object)
(14, total_bill     14.83
tip             3.02
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 14, dtype: object)
(15, total_bill     21.58
tip             3.92
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 15, dtype: object)
(16, total_bill     10.33
tip             1.67
sex           Female
smoker            No
day              Sun
time          Dinner
size               3
Name: 16, dtype: object)
(17, total_bill     16.29
tip             3.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 17, dtype: object)
(18, total_bill     16.97
tip              3.5
sex           Female
smoker            No
day              Sun
time          Dinner
size               3
Name: 18, dtype: object)
(19, total_bill     20.65
tip             3.35
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 19, dtype: object)
(20, total_bill     17.92
tip             4.08
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 20, dtype: object)
(21, total_bill     20.29
tip             2.75
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 21, dtype: object)
(22, total_bill     15.77
tip             2.23
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 22, dtype: object)
(23, total_bill     39.42
tip             7.58
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 23, dtype: object)
(24, total_bill     19.82
tip             3.18
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 24, dtype: object)
(25, total_bill     17.81
tip             2.34
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 25, dtype: object)
(26, total_bill     13.37
tip              2.0
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 26, dtype: object)
(27, total_bill     12.69
tip              2.0
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 27, dtype: object)
(28, total_bill      21.7
tip              4.3
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 28, dtype: object)
(29, total_bill     19.65
tip              3.0
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 29, dtype: object)
(30, total_bill      9.55
tip             1.45
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 30, dtype: object)
(31, total_bill     18.35
tip              2.5
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 31, dtype: object)
(32, total_bill     15.06
tip              3.0
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 32, dtype: object)
(33, total_bill     20.69
tip             2.45
sex           Female
smoker            No
day              Sat
time          Dinner
size               4
Name: 33, dtype: object)
(34, total_bill     17.78
tip             3.27
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 34, dtype: object)
(35, total_bill     24.06
tip              3.6
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 35, dtype: object)
(36, total_bill     16.31
tip              2.0
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 36, dtype: object)
(37, total_bill     16.93
tip             3.07
sex           Female
smoker            No
day              Sat
time          Dinner
size               3
Name: 37, dtype: object)
(38, total_bill     18.69
tip             2.31
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 38, dtype: object)
(39, total_bill     31.27
tip              5.0
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 39, dtype: object)
(40, total_bill     16.04
tip             2.24
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 40, dtype: object)
(41, total_bill     17.46
tip             2.54
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 41, dtype: object)
(42, total_bill     13.94
tip             3.06
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 42, dtype: object)
(43, total_bill      9.68
tip             1.32
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 43, dtype: object)
(44, total_bill      30.4
tip              5.6
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 44, dtype: object)
(45, total_bill     18.29
tip              3.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 45, dtype: object)
(46, total_bill     22.23
tip              5.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 46, dtype: object)
(47, total_bill      32.4
tip              6.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 47, dtype: object)
(48, total_bill     28.55
tip             2.05
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 48, dtype: object)
(49, total_bill     18.04
tip              3.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 49, dtype: object)
(50, total_bill     12.54
tip              2.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 50, dtype: object)
(51, total_bill     10.29
tip              2.6
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 51, dtype: object)
(52, total_bill     34.81
tip              5.2
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 52, dtype: object)
(53, total_bill      9.94
tip             1.56
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 53, dtype: object)
(54, total_bill     25.56
tip             4.34
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 54, dtype: object)
(55, total_bill     19.49
tip             3.51
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 55, dtype: object)
(56, total_bill     38.01
tip              3.0
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               4
Name: 56, dtype: object)
(57, total_bill     26.41
tip              1.5
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 57, dtype: object)
(58, total_bill     11.24
tip             1.76
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 58, dtype: object)
(59, total_bill     48.27
tip             6.73
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 59, dtype: object)
(60, total_bill     20.29
tip             3.21
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 60, dtype: object)
(61, total_bill     13.81
tip              2.0
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 61, dtype: object)
(62, total_bill     11.02
tip             1.98
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 62, dtype: object)
(63, total_bill     18.29
tip             3.76
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               4
Name: 63, dtype: object)
(64, total_bill     17.59
tip             2.64
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 64, dtype: object)
(65, total_bill     20.08
tip             3.15
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 65, dtype: object)
(66, total_bill     16.45
tip             2.47
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 66, dtype: object)
(67, total_bill      3.07
tip              1.0
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               1
Name: 67, dtype: object)
(68, total_bill     20.23
tip             2.01
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 68, dtype: object)
(69, total_bill     15.01
tip             2.09
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 69, dtype: object)
(70, total_bill     12.02
tip             1.97
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 70, dtype: object)
(71, total_bill     17.07
tip              3.0
sex           Female
smoker            No
day              Sat
time          Dinner
size               3
Name: 71, dtype: object)
(72, total_bill     26.86
tip             3.14
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 72, dtype: object)
(73, total_bill     25.28
tip              5.0
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 73, dtype: object)
(74, total_bill     14.73
tip              2.2
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 74, dtype: object)
(75, total_bill     10.51
tip             1.25
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 75, dtype: object)
(76, total_bill     17.92
tip             3.08
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 76, dtype: object)
(77, total_bill     27.2
tip             4.0
sex            Male
smoker           No
day            Thur
time          Lunch
size              4
Name: 77, dtype: object)
(78, total_bill    22.76
tip             3.0
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 78, dtype: object)
(79, total_bill    17.29
tip            2.71
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 79, dtype: object)
(80, total_bill    19.44
tip             3.0
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 80, dtype: object)
(81, total_bill    16.66
tip             3.4
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 81, dtype: object)
(82, total_bill     10.07
tip             1.83
sex           Female
smoker            No
day             Thur
time           Lunch
size               1
Name: 82, dtype: object)
(83, total_bill    32.68
tip             5.0
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 83, dtype: object)
(84, total_bill    15.98
tip            2.03
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 84, dtype: object)
(85, total_bill     34.83
tip             5.17
sex           Female
smoker            No
day             Thur
time           Lunch
size               4
Name: 85, dtype: object)
(86, total_bill    13.03
tip             2.0
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 86, dtype: object)
(87, total_bill    18.28
tip             4.0
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 87, dtype: object)
(88, total_bill    24.71
tip            5.85
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 88, dtype: object)
(89, total_bill    21.16
tip             3.0
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 89, dtype: object)
(90, total_bill     28.97
tip              3.0
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 90, dtype: object)
(91, total_bill     22.49
tip              3.5
sex             Male
smoker            No
day              Fri
time          Dinner
size               2
Name: 91, dtype: object)
(92, total_bill      5.75
tip              1.0
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 92, dtype: object)
(93, total_bill     16.32
tip              4.3
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 93, dtype: object)
(94, total_bill     22.75
tip             3.25
sex           Female
smoker            No
day              Fri
time          Dinner
size               2
Name: 94, dtype: object)
(95, total_bill     40.17
tip             4.73
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               4
Name: 95, dtype: object)
(96, total_bill     27.28
tip              4.0
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 96, dtype: object)
(97, total_bill     12.03
tip              1.5
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 97, dtype: object)
(98, total_bill     21.01
tip              3.0
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 98, dtype: object)
(99, total_bill     12.46
tip              1.5
sex             Male
smoker            No
day              Fri
time          Dinner
size               2
Name: 99, dtype: object)
(100, total_bill     11.35
tip              2.5
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 100, dtype: object)
(101, total_bill     15.38
tip              3.0
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 101, dtype: object)
(102, total_bill      44.3
tip              2.5
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 102, dtype: object)
(103, total_bill     22.42
tip             3.48
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 103, dtype: object)
(104, total_bill     20.92
tip             4.08
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 104, dtype: object)
(105, total_bill     15.36
tip             1.64
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 105, dtype: object)
(106, total_bill     20.49
tip             4.06
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 106, dtype: object)
(107, total_bill     25.21
tip             4.29
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 107, dtype: object)
(108, total_bill     18.24
tip             3.76
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 108, dtype: object)
(109, total_bill     14.31
tip              4.0
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 109, dtype: object)
(110, total_bill      14.0
tip              3.0
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 110, dtype: object)
(111, total_bill      7.25
tip              1.0
sex           Female
smoker            No
day              Sat
time          Dinner
size               1
Name: 111, dtype: object)
(112, total_bill     38.07
tip              4.0
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 112, dtype: object)
(113, total_bill     23.95
tip             2.55
sex             Male

In [77]:
data.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [85]:
# fetching single column from the data using [] 
data["total_bill"]
data["total_bill"].sum()

4827.77

In [93]:
data["total_bill"].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: total_bill, Length: 244, dtype: bool

In [91]:
data["total_bill"].isnull().sum()

0

In [95]:
data["total_bill"].notnull()

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: total_bill, Length: 244, dtype: bool

In [97]:
data["total_bill"].notnull().sum()

244

In [101]:
# fetch multiple columns 
# use nested list [["col-1" , col-2]]
data[["total_bill" , "tip", "smoker"]]

     total_bill   tip smoker
0         16.99  1.01     No
1         10.34  1.66     No
2         21.01  3.50     No
3         23.68  3.31     No
4         24.59  3.61     No
..          ...   ...    ...
239       29.03  5.92     No
240       27.18  2.00    Yes
241       22.67  2.00    Yes
242       17.82  1.75     No
243       18.78  3.00     No

[244 rows x 3 columns]

In [109]:
data.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [123]:
unique = data["day"].unique()

In [127]:
unique

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [183]:
condition = data[(data["sex"] == "Female") & (data["smoker"] == "Yes")]

In [187]:
condition

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
72        26.86  3.14  Female    Yes   Sat  Dinner     2
73        25.28  5.00  Female    Yes   Sat  Dinner     2
92         5.75  1.00  Female    Yes   Fri  Dinner     2
93        16.32  4.30  Female    Yes   Fri  Dinner     2
100       11.35  2.50  Female    Yes   Fri  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
102       44.30  2.50  Female    Yes   Sat  Dinner     3
103       22.42  3.48  Female    Yes   Sat  Dinner     2
109       14.31  4.00  Female    Yes   Sat  Dinner     2
164       17.51  3.00  Female    Yes   Sun  Dinner     2
168       10.59  1.61  Female    Yes   Sat  Dinner     2
169       10.63  2.00  Female    Yes   Sat  Dinner     2
178        9.60  4.00  Female    Yes   Sun  Dinner     2
186       20.90  3.50  Female    Yes   Sun  Dinner     3
188       18.15  3.50  Female    Yes   Sun  Dinner     3
191       19.81  4.19  Female    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
205       16.47  3.23  Female    Yes  Thur   Lunch     3
209       12.76  2.23  Female    Yes   Sat  Dinner     2
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
221       13.42  3.48  Female    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2

In [197]:
# what is the avg tip given on each day?
# use groupby()
total_tip_avg = data.groupby("day")["tip"].mean()

In [199]:
total_tip_avg

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

In [201]:
# what is the total tip collected by each sex group?
# groupby
total_tip = data.groupby("sex")["tip"].sum()
total_tip

sex
Female    246.51
Male      485.07
Name: tip, dtype: float64

In [219]:
# find the average total_bill for lunch and dinner separately?
avg_total_bill = data.groupby("time")["total_bill"].mean()

In [221]:
avg_total_bill

time
Dinner    20.797159
Lunch     17.168676
Name: total_bill, dtype: float64

In [223]:
avg_total_bill["Lunch"]

20.79715909090909

In [225]:
avg_total_bill["Dinner"]

20.79715909090909

In [243]:
# which day had the highest total bill collected overall ? 
highest_bill_day = data.groupby("day")["total_bill"].sum().nlargest(1)

In [245]:
highest_bill_day

day
Sat    1778.4
Name: total_bill, dtype: float64

In [231]:
# group the data by smoker and calcuate the avg tip for each group 
grp_data_smoker = data.groupby("smoker")["tip"].mean()

In [247]:
grp_data_smoker

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

In [ ]:
# find the top 5 rows with the highest total_bill